<html lang="en-US">
<head >
    <title>Sign in [Jenkins]</title>
    <meta name="ROBOTS" content="NOFOLLOW" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/static/b7cbcca1/css/simple-page.css" type="text/css">
    <link rel="stylesheet" href="/static/b7cbcca1/css/simple-page.theme.css" type="text/css">
    <link rel="stylesheet" href="/static/b7cbcca1/css/simple-page-forms.css" type="text/css">
</head>

<body>
    <div class="simple-page" role="main">
        <div class="modal login">
            <div id="loginIntroDefault">
                <div class="logo"></div>
                <h1>Welcome to Jenkins!</h1>

            </div>
            <form method="post" name="login" action="moLoginAction">
                <input type="hidden" />
                <div class="formRow">
                    <input autocorrect="off" name="j_username" id="j_username" placeholder="Username" type="text" class="normal" autocapitalize="off" />
                </div>
                <div class="formRow">
                    <input name="j_password" placeholder="Password" type="password" class="normal" />
                </div>
                <input name="from" type="hidden" value="/" />
                <div class="submit formRow">
                    <input name="Submit" type="submit" value="Sign in" class="submit-button primary" /><br><br>
                    <input name="idpLoginButton" type="button" value="Login with IDP"
                           onclick="window.location.href = 'moSamlLogin'" style="width: 100%;text-align: center;background-color: #4A90E2;"/>
                </div>
            </form>
            <div></div>
            <div class="footer"></div>
        </div>
    </div>
</body>

</html>