<html lang="en-US">
<head >
    <title>Sign in [Jenkins]</title>
    <meta name="ROBOTS" content="NOFOLLOW" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="$$resURL$$/jsbundles/simple-page.css" type="text/css">

</head>

<body>
<div class="simple-page" role="main">
    <div class="modal login">
        <div id="loginIntroDefault">
            <div class="logo">
                <img src="$$resURL$$/images/svgs/logo.svg" alt="Jenkins logo">
            </div>
            <h1>Welcome to Jenkins!</h1>

        </div>
        <form method="post" name="login" action="moLoginAction">
            <input type="hidden" />


            <div class="formRow jenkins-form-item jenkins-form-item--tight">
                <input autocorrect="off" name="j_username" id="j_username" placeholder="Username" type="text" class="jenkins-input normal" autocapitalize="off" style="width: 100%;"/>
            </div>
            <div class="formRow jenkins-form-item jenkins-form-item--tight">
                <input name="j_password" placeholder="Password" type="password" class="jenkins-input normal" style="width: 100%;" />
            </div>
            <input name="from" type="hidden" value="/" />
            <div class="submit formRow jenkins-form-item jenkins-form-item--tight">
                <input name="Submit" type="submit" value="Sign in" class="submit jenkins-button jenkins-button--primary" /><br><p style="text-align: center" ><b>OR</b></p>
                <input name="idpLoginButton" type="button" value="Login with IDP" class="jenkins-button jenkins-button--primary"
                       onclick="window.location.href = 'moSamlLogin'" style="width: 100%;text-align: center;background-color: # 0b6aa2;"/>
            </div>
        </form>
        <div></div>
        <div class="footer"></div>
    </div>
</div>
</body>

</html>